@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 50px 100%;
    grid-template-areas: "header" "filter" "all_services";
    height: 100vh;
    gap: 10px;
}

#section_all_services {
    grid-area: all_services;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-template-areas: "services map";
    padding: 0 20px;
}


#section_services_map {
    grid-area: map;
}

#mapGoogle {
    height: 100%;
    width: 100%;
}

/* BEGINING OF HEADER */
.header {
    grid-area: header;
    background-color: black;
    box-sizing: border-box;
    padding: 0px 15px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 100%;
}

header button {
    background-color: red;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 6px 14px;
    color: white;
    display: inline-flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border:none;
}
/* END OF HEADER */

/* BEGINING OF FILTER BAR */
.filterBar {
    grid-area: filter;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box; 
    width: 100%;
    gap: 10px;
    padding: 0 15px;
}

.bigSearchBar {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.smallSearchBar {
    width: 60px;
    border: 2px solid black;
    border-radius: 10px;
}

.seachBarIcon {
    width: 150px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E60012;
    height: 3rem;
    gap: 2px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-weight: bold;
}

#query {
    height: 2.5rem;
    font-size: 2rem;
    width: 100%;
    border: none;
}

#filter-country::before {
    content: url(/images/images/earth-americas-solid.svg);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

#filter-lang::before {
    content: url(/images/images/comments-solid.svg);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

#filter-serv::before {
    content: url(/images/images/gears-solid.svg);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}



/* END OF FILTER BAR */

/* BEGINING OF CARDS */
#section_services_list {
    grid-area: services;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: scroll;
    justify-content:flex-start;
    
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: none; 
}
   
::-webkit-scrollbar-thumb {
    background: #8e8d8d; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #E60012; 
}

#section_services_list > p {
    font-size: 1.5rem;
}
.serviceCard {
    height: 20rem;
    width: 28%;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.serviceCard:hover {
    cursor: pointer;
}

.service-img {
    background-image: url(/images/images/handyman.png);
    background-position: center;
    background-size: cover;
    height: 70%;
    width: 100%;
    border-radius: 20px;
}

.service-title {
    margin: 5px 0 0 10px;
    font-size: 1.5rem; 
}

.service-tags {
    display: flex;
    margin: 5px;
    justify-content: flex-start;
    align-items: center;
}

.service-tags > p {
    background-color: #FFDFDF;
    margin: 2px;
    padding: 3px;
    font-size: 1.2rem;
    border-radius: 5px;
}



/* END OF CARDS */

/* BEGINING OF FOOTER */
.footer {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.footer p{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 0;
}
/* END OF FOOTER */

/* BEGINING OF LOGIN FORM */
#loginFormDiv{
    display: none;
    position: fixed;
    background-color: white;
    left: 40%;
    z-index: 20;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(54, 52, 52);
}

.closeItDiv{
    width: 100%;
    box-sizing: border-box;
}
#closeIt {
    float: right;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
}

.login-form{
    padding: 10px;
    width: 300px;
}

.labelForm{
    display: inline-flex;
    font-weight: bold;
}

.imgLogin{
    display: block;
    margin: 10%;
    width: 80%;
}

.theForm{
    padding:10px;
}

.login-box {
    background-color: lightgray;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 0;
}

.login-btn {
    display: block;
    box-sizing: border-box;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;;
    width: fit-content;
    border: none;
    color: white;
    font-weight: bold;
}

.textQuestion {
    display: block;
    font-size: 10px;
    width: 100%;
    margin-top: 20px;
    margin: auto;
    text-align: center;
}

.createAnAccount {
    display: block;
    font-size: 10px;
    width: 100%;
    margin-top: 20px;
    margin: auto;
    text-align: center;
}
/* END OF LOGIN FORM */

footer {
    /*maintain same height as footer*/
    height: 30px;
    position: static;
    bottom: 0;
    background-color: black;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: #D9D9D9;
}
