html {
    position : relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    /* height: 100vh; */
}

#section_all_services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin: 10px;
    height: 70vh;
}

#section_services_list {
    width: 50%;
}

#section_services_map {
    /* flex-grow: 1; */
    width: 50%;
}

#mapGoogle {
    height: 100%;
    width: 100%;
}

/* BEGINING OF HEADER */
.header {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 15px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 100%;
}

header button {
    background-color: red;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 6px 14px;
    color: white;
    display: inline-flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border:none;
}
/* END OF HEADER */

/* BEGINING OF FILTER BAR */
.filterBar {
    display: inline-flex;
    width: min-content;
    box-sizing: border-box;
    margin-bottom: 0;
}
.bigSearchBar {
    display: flex;
    float: left;
    box-sizing: border-box;
    width: 93vw;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding: 10px 80% 10px 1%;
    margin: 5px 0px 0px 1%;
}
.seachBarIcon{
    margin-right: 20px;
}
.smallSearchBar {
    display: flex;
    box-sizing: border-box;
    size: 10%;
    width: 5vw;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin: 5px 0px 0px 0px;
}
/* END OF FILTER BAR */

/* BEGINING OF CARDS */
.card{
    background-color: #D9D9D9;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 10px;
    margin: 20px;
}
.Picture img{
    width: 100%;
}
.tagsContainer h3{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
.tag{
    display: flex;
    margin-left: 10px;
}
.tag p{
    background-color: #FFDFDF;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    padding: 0 5px 0 5px;
    font-size: 10px;
    border-radius: 5px;
    margin: 5px 5px 10px 0px;

}
/* END OF CARDS */

/* BEGINING OF FOOTER */
.footer {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.footer p{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 0;
}
/* END OF FOOTER */

#div_footer {
    /*maintain same height as footer*/
    height: 30px;
}

footer {
    background-color: black;
    position: absolute;
    left : 0;
    bottom: 0;
    width: 100vw;
    height: 30px;
}