.registrationFormBody {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.sectionForms{
    display: flex;
    flex-direction: column;
}

#newFinderFormDiv {
    position: relative;
    height: max-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 2px solid  hsl(0,0%,70%);
    background-color: hsl(0,0%,95%);
    border-radius: 20px;
    margin: 50px;
    padding: 20px 30px;
    width: 50vw;
}
.serviceFinderRegistrationFormHeader{
    font-size: 30px;
    font-weight: bolder;
}
.serviceFinderRegistrationForm {
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 20px 0;
}

.sectionForms label{
    font-size: 20px;
    padding: 10px 0px;
    text-shadow: 2px 2px hsl(0,0%,85%);
}

.sectionForms input{
    background-color: hsl(0,0%,80%);
    box-shadow: 2px 2px hsl(0,0%,60%);
    border: 2px solid hsl(0,0%,70%);
    border-radius: 20px;
    padding: 10px;
}

#submitServiceFinder{
    margin: 10px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0,100%,70%);
    border: 2px solid hsl(0,100%,75%);
    box-shadow: 2px 2px hsl(0,100%,65%);
    color: white;
    font-weight: bolder;
    width: fit-content;
    align-self: center;
    box-sizing: border-box;
}

#submitServiceFinder:hover{

    background-color: hsl(0,100%,50%);
    border: 2px solid hsl(0,100%,75%);
    color: white;
}

.sectionForms img {
    box-sizing: border-box;
    position: absolute;
    align-self: center;
    height: 80%;
    z-index: -1;
    filter: opacity(0.2);
}

/* SERVICE PROVIDER */

#newProviderFormDiv {
    position: relative;
    height: max-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 2px solid  hsl(0,0%,70%);
    background-color: hsl(0,0%,95%);
    border-radius: 20px;
    margin: 50px;
    padding: 20px 30px;
    width: 50vw;
}
.serviceProviderRegistrationFormHeader{
    font-size: 30px;
    font-weight: bolder;
}
.serviceProviderRegistrationForm {
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 20px 0;
}
#submitServiceProvider{
    margin: 10px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0,100%,70%);
    border: 2px solid hsl(0,100%,75%);
    box-shadow: 2px 2px hsl(0,100%,65%);
    color: white;
    font-weight: bolder;
    width: fit-content;
    align-self: center;
    box-sizing: border-box;
}

/* CULTURAL PROMOTER */

#newPromoterFormDiv {
    position: relative;
    height: max-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 2px solid  hsl(0,0%,70%);
    background-color: hsl(0,0%,95%);
    border-radius: 20px;
    margin: 50px;
    padding: 20px 30px;
    width: 50vw;
}
.culturalPromoterRegistrationFormHeader{
    font-size: 30px;
    font-weight: bolder;
}
.culturalPromoterRegistrationForm {
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 20px 0;
}
#submitCulturalPromoter{
    margin: 10px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0,100%,70%);
    border: 2px solid hsl(0,100%,75%);
    box-shadow: 2px 2px hsl(0,100%,65%);
    color: white;
    font-weight: bolder;
    width: fit-content;
    align-self: center;
    box-sizing: border-box;
}

/* NEW EVENT */

.addNewEventRegistrationFormDiv {
    position: relative;
    height: max-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 2px solid  hsl(0,0%,70%);
    background-color: hsl(0,0%,95%);
    border-radius: 20px;
    margin: 50px;
    padding: 20px 30px;
    width: 50vw;
}
.addNewEventRegistrationFormHeader{
    font-size: 30px;
    font-weight: bolder;
}
.addNewEventRegistrationForm {
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 20px 0;
}
#submitAddNewEvent, #verifyProviderAddress, #verifyEventAddress{
    margin: 10px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0,100%,70%);
    border: 2px solid hsl(0,100%,75%);
    box-shadow: 2px 2px hsl(0,100%,65%);
    color: white;
    font-weight: bolder;
    width: fit-content;
    align-self: center;
    box-sizing: border-box;
}

/* Add another role div */
#addNewRoleDiv {
    display:none;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    border: 1px solid black;
    border: 2px solid  hsl(0,0%,70%);
    background-color: hsl(0,0%,95%);
    border-radius: 20px;
    margin: 50px;
    padding: 10px 30px;

}
.chooseRoleQuestionTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}
.chooseRoleQuestionDiv{
    padding: 10px 0;
}
#chooseYes, #chooseNo {
    box-shadow: none;
}
#chooseRole {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}
.chooseRoleQuestionDiv{
    padding: 10px 0;
}
#chooseRoleDiv {
    display: flex;
}
#chooseServiceProvider, #chooseCulturalPromoter {
    box-shadow: none;
    margin: 10px;
}
#submitAddNewRole{
    margin: 10px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(0,100%,70%);
    border: 2px solid hsl(0,100%,75%);
    box-shadow: 2px 2px hsl(0,100%,65%);
    color: white;
    font-weight: bolder;
    width: fit-content;
    align-self: center;
    box-sizing: border-box;
}

#submitAddNewRole:hover{

    background-color: hsl(0,100%,50%);
    border: 2px solid hsl(0,100%,75%);
    color: white;
}
/* BEGINING OF MAP */

.sectionMap {
    height: 250px;
    width: 250px;
}

#mapGoogle {
    height: 100%;
    width: 100%;
}

/* END OF MAP*/

/* BEGINING OF LOGIN FORM */
#loginFormDiv{
    display: block;
    position: fixed;
    background-color: white;
    left: 40%;
    z-index: 20;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(54, 52, 52);
}

.closeItDiv{
    width: 100%;
    box-sizing: border-box;
}
#closeIt {
    float: right;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
}

.login-form{
    padding: 10px;
    width: 300px;
}

.labelForm{
    display: inline-flex;
    font-weight: bold;
}

.imgLogin{
    display: block;
    margin: 10%;
    width: 80%;
}

.theForm{
    padding:10px;
}

.login-box {
    background-color: lightgray;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 0;
}

.login-btn {
    display: block;
    box-sizing: border-box;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;;
    width: fit-content;
    border: none;
    color: white;
    font-weight: bold;
}

.textQuestion {
    display: block;
    font-size: 10px;
    width: 100%;
    margin-top: 20px;
    margin: auto;
    text-align: center;
}

.createAnAccount {
    display: block;
    font-size: 10px;
    width: 100%;
    margin-top: 20px;
    margin: auto;
    text-align: center;
}
/* END OF LOGIN FORM */